-- Complete Database Schema for Apartment Service System

USE apartment_service_system;

-- =============================================
-- 1. USERS TABLE (Enhanced)
-- =============================================
DROP TABLE IF EXISTS users;
CREATE TABLE users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    password VARCHAR(255) NOT NULL,
    phone VARCHAR(15),
    role ENUM('admin','provider','resident') NOT NULL,
    apartment_id VARCHAR(10),
    status VARCHAR(20) DEFAULT 'active',
    availability TEXT,
    skills TEXT,
    bio TEXT,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
);

-- =============================================
-- 2. SERVICES TABLE
-- =============================================
DROP TABLE IF EXISTS services;
CREATE TABLE services (
    id INT AUTO_INCREMENT PRIMARY KEY,
    service_name VARCHAR(100) NOT NULL,
    description TEXT
);

-- =============================================
-- 3. BOOKINGS TABLE (Enhanced)
-- =============================================
DROP TABLE IF EXISTS bookings;
CREATE TABLE bookings (
    id INT AUTO_INCREMENT PRIMARY KEY,
    resident_id INT NOT NULL,
    service_id INT NOT NULL,
    provider_id INT,
    status ENUM('pending','accepted','completed','cancelled') DEFAULT 'pending',
    apartment_id VARCHAR(10),
    mobile_number VARCHAR(15),
    problem_description TEXT,
    time_duration VARCHAR(50),
    preferred_date DATE,
    preferred_time TIME,
    additional_notes TEXT,
    booking_date DATE,
    booking_time TIME,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (resident_id) REFERENCES users(id),
    FOREIGN KEY (service_id) REFERENCES services(id),
    FOREIGN KEY (provider_id) REFERENCES users(id)
);

-- =============================================
-- 4. NOTIFICATIONS TABLE
-- =============================================
DROP TABLE IF EXISTS notifications;
CREATE TABLE notifications (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(200) NOT NULL,
    message TEXT NOT NULL,
    audience ENUM('All','Residents','Providers','Admins') NOT NULL,
    created_by INT NOT NULL,
    is_read BOOLEAN DEFAULT FALSE,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (created_by) REFERENCES users(id)
);

-- =============================================
-- 5. COMPLAINTS TABLE
-- =============================================
DROP TABLE IF EXISTS complaints;
CREATE TABLE complaints (
    id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT NOT NULL,
    title VARCHAR(200) NOT NULL,
    description TEXT NOT NULL,
    priority ENUM('low','medium','high','critical') DEFAULT 'medium',
    status ENUM('open','resolved','closed') DEFAULT 'open',
    admin_notes TEXT,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES users(id)
);

-- =============================================
-- 6. ANNOUNCEMENTS TABLE
-- =============================================
DROP TABLE IF EXISTS announcements;
CREATE TABLE announcements (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(200) NOT NULL,
    message TEXT NOT NULL,
    audience ENUM('All','Residents','Providers','Admins') NOT NULL,
    created_by INT NOT NULL,
    is_active BOOLEAN DEFAULT TRUE,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    expires_at DATETIME,
    FOREIGN KEY (created_by) REFERENCES users(id)
);

-- =============================================
-- INSERT SERVICES DATA
-- =============================================
INSERT INTO services(service_name,description) VALUES
('Plumber','Water pipe repair and leakage fixing'),
('Electrician','Electrical repair and wiring'),
('Carpenter','Furniture repair and wood work'),
('Painter','Wall painting and touch-up'),
('Cleaner','House and apartment cleaning'),
('HVAC Technician','AC installation and repair'),
('Appliance Repair','Repair of washing machine, fridge etc'),
('Pest Control','Removal of insects and pests');

-- =============================================
-- CREATE INDEXES FOR PERFORMANCE
-- =============================================
CREATE INDEX idx_users_email ON users(email);
CREATE INDEX idx_users_role ON users(role);
CREATE INDEX idx_users_status ON users(status);
CREATE INDEX idx_bookings_resident ON bookings(resident_id);
CREATE INDEX idx_bookings_service ON bookings(service_id);
CREATE INDEX idx_bookings_status ON bookings(status);
CREATE INDEX idx_notifications_audience ON notifications(audience);
CREATE INDEX idx_complaints_status ON complaints(status);

-- =============================================
-- VERIFY TABLE STRUCTURE
-- =============================================
DESCRIBE users;
DESCRIBE services;
DESCRIBE bookings;
DESCRIBE notifications;
DESCRIBE complaints;
DESCRIBE announcements;
